### import, connect db

In [6]:
import sqlite3
import json
import pandas as pd

In [7]:
db_path = '/Users/admin/Desktop/Softeer_DE/data/World_Economies.db'
data_path = '/Users/admin/Desktop/Softeer_DE/data/Countries_by_GDP.json'

In [4]:
connection = sqlite3.connect(db_path)

In [5]:
cursor = connection.cursor()

### Load Data

In [38]:
def execute_select_query(query):
    sql_command = query
    cursor.execute(sql_command)
    res = cursor.fetchall()
    print('command :',sql_command)
    for i in res:
        print(i)

In [34]:
data = pd.read_json(data_path)
data = data.rename(columns={'IMFForecast':'GDP_USD_billion', 'Country/Territory': 'Country'})
data['IMFYear'] = data['IMFYear'].astype('Int64')
data.to_sql("Countries_by_GDP", connection, if_exists="replace", index=False)

221

In [35]:
sql_command = "SELECT * FROM Countries_by_GDP;"
execute_select_query(sql_command)

command : SELECT * FROM Countries_by_GDP;
('United States', 30507.21, 2025, 'America')
('China', 19231.7, 2025, 'Asia')
('Germany', 4744.8, 2025, 'Europe')
('India', 4187.01, 2025, 'Asia')
('Japan', 4186.43, 2025, 'Asia')

### Print GDP
- IMF에서 제공하는 GDP를 기반으로 수행
1. GDP가 100B USD 이상인 국가 출력
2. Region별 top5 국가의 GDP 평균 출력

In [39]:
# GDP가 100B USD 이상인 국가 출력
sql_command = "SELECT Country FROM Countries_by_GDP WHERE GDP_USD_billion >= 100;"
execute_select_query(sql_command)

command : SELECT Country FROM Countries_by_GDP WHERE GDP_USD_billion >= 100;
('United States',)
('China',)
('Germany',)
('India',)
('Japan',)
('United Kingdom',)
('France',)
('Italy',)
('Canada',)
('Brazil',)
('Russia',)
('Spain',)
('South Korea',)
('Australia',)
('Mexico',)
('Turkey',)
('Indonesia',)
('Netherlands',)
('Saudi Arabia',)
('Poland',)
('Switzerland',)
('Taiwan',)
('Belgium',)
('Argentina',)
('Sweden',)
('Ireland',)
('Israel',)
('Singapore',)
('United Arab Emirates',)
('Thailand',)
('Austria',)
('Norway',)
('Philippines',)
('Vietnam',)
('Bangladesh',)
('Denmark',)
('Malaysia',)
('Colombia',)
('Hong Kong',)
('South Africa',)
('Romania',)
('Czech Republic',)
('Egypt',)
('Chile',)
('Iran',)
('Portugal',)
('Finland',)
('Peru',)
('Kazakhstan',)
('Algeria',)
('Greece',)
('Iraq',)
('New Zealand',)
('Hungary',)
('Qatar',)
('Ukraine',)
('Nigeria',)
('Morocco',)
('Kuwait',)
('Slovakia',)
('Uzbekistan',)
('Kenya',)
('Dominican Republic',)
('Ecuador',)
('Puerto Rico',)
('Guatemala',)
('Ethiopia',)
('Bulgaria',)
('Angola',)
('Venezuela',)
('Oman',)
('Costa Rica',)

In [56]:
# Region별 top5 국가의 GDP 평균 출력
sql_command = """
WITH base AS
(
    SELECT Region, ROW_NUMBER() OVER(PARTITION BY Region ORDER BY GDP_USD_billion DESC) AS rn, GDP_USD_billion
    FROM Countries_by_GDP WHERE Region != "not found"
)
SELECT Region, ROUND(AVG(GDP_USD_billion), 2) AS GCP_average FROM base WHERE rn <= 5
GROUP BY Region
ORDER BY GCP_average DESC;
"""
execute_select_query(sql_command)

command :
WITH base AS
(
    SELECT Region, ROW_NUMBER() OVER(PARTITION BY Region ORDER BY GDP_USD_billion DESC) AS rn, GDP_USD_billion
    FROM Countries_by_GDP WHERE Region != "not found"
)
SELECT Region, ROUND(AVG(GDP_USD_billion), 2) AS GCP_average FROM base WHERE rn <= 5
GROUP BY Region
ORDER BY GCP_average DESC;

('America', 7446.93)
('Asia', 6166.57)
('Europe', 3258.9)
('Oceania', 412.26)
('Africa', 276.13)